/* detalle */
.detalle{
    padding-top: 50px;
    background-image: linear-gradient(to right top, #6d69ff, #6d6969a7),url("../img/detalles/mario-bg.jpg");
    margin:0 25px 0 25px;
    height: 70vh;
    
}

.contenedorDetalle{
    display: flex;
    width: 70%;
    column-gap: 55px;
    justify-content: center;
    margin: 0 auto;;
    align-items: center;
    padding: 20px 0;
    
    
}

#imgDetalle{
    border-radius: 15px;
}

.credits{
    display: flex;
    justify-content: space-between;
}
/* Trailer */
.trailer{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 75%;
    padding-top: 25px;
    margin-top:80px;
    margin-bottom: 50px;
}
.info{
    ul{
    display: flex;
    column-gap: 60px;    
        a{
            font-size: 2.5rem;

        }
    }
}
.infoContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.tabla-info{
    width: 100%;
    margin-left: 50px;
    th{
        text-align: center;
    }
    tr td:first-child,th{
        font-size: 1.5rem;
    }
    td{
        padding:0 50px 10px 0;
    }
}
